<h1>Basics</h1>

In [4]:
import pandas as pd #Add library pandas

In [8]:
#SERIES
series = pd.Series(['BMW','HONDA','TOYOTA'])
#series are 1-dimensional

In [9]:
series

0       BMW
1     HONDA
2    TOYOTA
dtype: object

In [10]:
colours = pd.Series(['red','blue','yellow'])
colours

0       red
1      blue
2    yellow
dtype: object

In [11]:
#Data Frames --> 2 dimensional (much more common)
df = pd.DataFrame({"Car make" : series, "colour" : colours})
#We have just created a 2 dimensions adding both series we created
df

  Car make  colour
0      BMW     red
1    HONDA    blue
2   TOYOTA  yellow

In [12]:
#Most of the time you will import DF from csv files...let's see how to do it
car_sales = pd.read_csv('./recursos/bcars.csv')
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

![<caption>](./recursos/pandas-anatomy-of-a-dataframe.png)

In [ ]:
# export DATAF as excel or csv
#      car_sales.to_csv('nameofcsv.csv')
#if yoy dont add index=false --> it will export the index also...the correct way to do this will be
#      car_sales.to_csv('name.csv', index=False)
#      car_sales.to_excel('nameofexcel.xlsx')