<h1>Basics</h1>

In [4]:
import pandas as pd #Add library pandas

In [8]:
#SERIES
series = pd.Series(['BMW','HONDA','TOYOTA'])
#series are 1-dimensional

In [9]:
series

0       BMW
1     HONDA
2    TOYOTA
dtype: object

In [10]:
colours = pd.Series(['red','blue','yellow'])
colours

0       red
1      blue
2    yellow
dtype: object

In [11]:
#Data Frames --> 2 dimensional (much more common)
df = pd.DataFrame({"Car make" : series, "colour" : colours})
#We have just created a 2 dimensions adding both series we created
df

  Car make  colour
0      BMW     red
1    HONDA    blue
2   TOYOTA  yellow