In [24]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [25]:
#Create Data Frame based of ndarray(5,3)
np.random.seed(seed=1)
products_array = np.random.randint(30, size=(5,3))
peanut_dataf = pd.DataFrame(products_array, index=['Mond','Tues','Wend','Thrus','Fri'], columns=['Almond B','Peanut B','cashew B'])

In [26]:
peanut_dataf

       Almond B  Peanut B  cashew B
Mond          5        11        12
Tues          8         9        11
Wend          5        15         0
Thrus        16         1        12
Fri           7        13        28

In [27]:
price_array = np.array([10,8,12])
price_dataf = pd.DataFrame(price_array.reshape(1,3), index=['Price'],columns=['Almond B','Peanut B','cashew B'])
price_dataf

       Almond B  Peanut B  cashew B
Price        10         8        12

In [31]:
peanut_dataf.shape,price_dataf.shape

((5, 3), (1, 3))

In [34]:
sales = peanut_dataf.dot(price_dataf.T)
peanut_dataf["Total($)"] = sales
peanut_dataf

       Almond B  Peanut B  cashew B  Total($)
Mond          5        11        12       282
Tues          8         9        11       284
Wend          5        15         0       170
Thrus        16         1        12       312
Fri           7        13        28       510